@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply md:text-6xl;
    @apply font-bold;
    @apply leading-tight;
  }
  h2 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply leading-tight;
  }
  ul,
  ol {
    list-style: revert;
  }
  html {
    scroll-behavior: smooth;
  }
}
